# Graphing packages
seaborn==0.7.1
matplotlib==2.1.2
# Status bar package
pyprind==2.11.2
# C/C++ like syntax, but for python (makes code more readable)
mypy==0.600
# RTFD (ReadTheDocs)
sphinx
sphinx-autobuild
sphinx-rtd-theme==0.3.1
nbsphinx==0.3.3